<p style="color: green"><%= notice %></p>

<%= render @user %>

<%# 最初のマイクロポストを表示 %>
<% if @user.microposts.first %>
  <div id="<%= dom_id @user.microposts.first %>">
    <p>
      <strong>Content:</strong>
      <%= @user.microposts.first.content %>
    </p>
  </div>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
